<div class="content-center">
  <div class="user-page">
    <div class="user-page__avatar">
      {{>avatar src=avatar }}
    </div>

    <div>
      <ul class="user-page__list">       
        {{> list-item key="Почта" value=email }}       
        {{> list-item key="Логин" value=login }}      
        {{> list-item key="Имя" value=firstName }}
        {{> list-item key="Фамилия" value=lastName }}
        {{> list-item key="Имя в чате" value=screenName }}
        {{> list-item key="Телефон" value=phone }}
      </ul>
    </div>

    <div class="user-page__footer">
      {{> button content="Сохранить" variant="main"}}
  </div>
</div>