.chat {
  &__button {
    cursor: pointer;

    display: block;
    width: 100%;

    font-weight: 500;

    padding: 15px;

    border: none;
    background: transparent;

    border-radius: 8px;

    color: #fff;

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;

    &--main {
      background-color: var(--main-color);

      &:hover {
        opacity: .8;
      }
    }

    &--secondary {
      background-color: transparent;
      
      color: var(--main-color);
    }
  }
}
