<main class="chat app__page">
  <div class="chat__chat-list chat-list">
    <div class="chat-list__header">
      <div class="chat-list__header-wrap">
        <div class="chat-list__header-link">
          {{> link content="профиль" href="/user" class="chat__link" }}
        </div>
        {{> input placeholder="Поиск" variant="secondary" }}
      </div>
    </div>
  </div>

  <div class="chat__messages-list messages">
    <div class="messages--empty">
      Выберите чат чтобы отправить сообщение
    </div>
  </div>
</main>