.avatar {
  --size: 130px;
  width: var(--size);
  height: var(--size);
  position: relative;

  border-radius: 50%;

  background-color: var(--separator-color);

  background-position: center;
  background-repeat: no-repeat;


  & img {
    width: inherit;
    height: inherit;

    border-radius: inherit;

    object-fit: none;
  }

  &:hover {
    cursor: pointer;

    &::before {
      position: absolute;
      z-index: 10;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;

      content: 'Поменять аватар';

      width: inherit;
      height: inherit;


      border-radius: inherit;

      background-color: #000000;
      opacity: .3;
    }
  }
}
